<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="false"
        android:label="Rokid To Do"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity
            android:name=".ToDoActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".ToDoPluginService"
            android:exported="true"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="glasses-session" />
            <intent-filter>
                <action android:name="com.anezium.rokidbus.action.PLUGIN" />
            </intent-filter>
            <meta-data android:name="com.anezium.rokidbus.plugin.ID" android:value="todo" />
            <meta-data android:name="com.anezium.rokidbus.plugin.DISPLAY_NAME" android:value="To Do" />
            <meta-data android:name="com.anezium.rokidbus.plugin.ICON" android:value="bookmark" />
            <meta-data android:name="com.anezium.rokidbus.plugin.API_VERSION" android:value="3" />
            <meta-data android:name="com.anezium.rokidbus.plugin.CAPABILITIES" android:value="surfaces,microphone,tts" />
            <meta-data android:name="com.anezium.rokidbus.plugin.RECEIVE_PREFIXES" android:value="/plugin/todo,/system/plugin,/audio,/tts/started,/tts/done" />
            <meta-data android:name="com.anezium.rokidbus.plugin.SETTINGS_ACTIVITY" android:value=".ToDoActivity" />
            <meta-data android:name="com.anezium.rokidbus.plugin.LAUNCHABLE" android:value="true" />
        </service>
    </application>
</manifest>
